<div class="hashtag-header buffer-both">
  <h2 class="title-medium"><%= t('.questions_with_tag') %> #<%= @hashtag.name %></h2>
</div>
<div class="user-questions buffer-both">
  <div class="questions-list">
    <%= render partial: 'questions/hashtag_question', locals: { questions: @questions } %>
  </div>
</div>