.users-list-item {
  display: inline-block;
}

.user-header {
  padding: 20px 0;
  background: #005a55;
  color: white;
}

.user-header a {
  color: white;
}

.user-image-div {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 5px solid #00948a;
  border-radius: 50%;
  overflow: hidden;
}

.user-image-div-small {
  width: 75px;
  height: 75px;
  border-width: 3px;
}

.user-image {
  max-width: 100%;
  max-height: 100%;
}

.user-label-name {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #00948a;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.user-label-name a {
  color: white;
}

.user-details {
  padding: 10px 0;
  background: white;
}

.user-statistics {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #D9E6E5;
}

.user-filter-bar {
  display: table;
  table-layout: fixed;
  box-sizing: border-box;
  width: 100%;
  border-radius: 7px;
  background-color: transparent;
  border: solid 1px #fff;
  overflow: hidden;
}

.user-filter-bar a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  padding: 4px 3px 3px;
  color: #fff;
}

.user-filter-bar a.active {
  color: #2e2f41;
  background-color: #fff;
}

.user-questions {
  background: #D9E6E5;
}

.user-question-form {
  padding: 10px;
  margin-left: 10px;
  background: #D9E6E5;
}

@media (max-width: 960px) {
  .user-question-form {
    margin-left: 0;
  }

  .user-question-form-div {
    display: none;
  }
}

@media (min-width: 960px) {
  .user-ask-button {
    display: none;
  }
}
